@import url('https://fonts.googleapis.com/css2?family=Calistoga:wght@200;300;400;600;700&display=swap');

:root{
  --brown:#8B5A17;
}

*{
  font-family: 'Calistoga';
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: none;
  transition:all .2s linear;
}

*::selection{
  background:var(--brown);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#000000;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--brown);
}

/* button starts */
.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--brown);
  color:var(--brown);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--brown);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}
/* button ends */

/* header starts */
header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#FBC108;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 4rem;
  font-weight: bolder;
  color:#fff;
}

header .logo i{
  padding-right: .5rem;
  color:var(--brown);
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#fff;
}

header .navbar a:hover{
  color:var(--brown);
}
/* header ends */

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

/* home starts */
.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}
/* home ends */

/* steps starts */
.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 3rem;
  color:#333;
  padding:1rem;
}
/* steps ends */


/* gallery starts */
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  height:25rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  background:rgba(255,255,255,.9);
  padding:2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.gallery .box-container .box:hover .content{
  top:0;
}

/* gallery ends */


/* guest starts */
.guest .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.guest .row .image{
  flex:1 1 30rem;
}

.guest .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.guest .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.guest .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guest .row form .inputBox input, .login .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.guest .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.guest .row form .btn{
  background:none;
}

.guest .row form .btn:hover{
  background:var(--red);
}
/* guest ends */

/* register starts */
.register .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.register .row .image{
  flex:1 1 30rem;
}

.register .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.register .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.register .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.register .row form .inputBox input, .login .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.register .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.register .row form .btn{
  background:none;
}

.register .row form .btn:hover{
  background:var(--red);
}
/* register ends */

/* login starts */
.login .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.login .row .image{
  flex:1 1 30rem;
}

.login .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.login .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.login .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login .row form .inputBox input, .login .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.login .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.login .row form .btn{
  background:none;
}

.login .row form .btn:hover{
  background:var(--red);
}
/* login ends */


/* submit starts */
.submit .row{
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.submit .row .image{
  flex:1 1 30rem;
}

.submit .row .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
}

.submit .row form{
  flex:1 1 50rem;
  padding:1rem;
}

.submit .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submit .row form .inputBox input, .login .row form textarea{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width:49%;
}

.submit .row form textarea{
  width:100%;
  resize: none;
  height:15rem;
}

.submit .row form .btn{
  background:none;
}

.submit .row form .btn:hover{
  background:var(--red);
}

/* choice selection starts */
.parent {
  padding: 2em;
  display: grid;
  place-items: center;
}

article {
  padding: 2em 0;
  border-bottom: 2px dashed rgba(255,255,255, 0.2);
}

input{
  padding: 0.7em 1em;
  border-radius: 4px;
  border: none;
  width: 360px;
}
/* choice selection ends */

/* submit ends */


/* footer starts */
.footer{
  text-align: center;
  background:#fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: none;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--brown);
}
/* footer ends */

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:var(--red);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}

/* pizza loader starts */

.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}
/* pizza loader starts */


/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--red);
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}

/* roulette wheel starts */
*{
	box-sizing:border-box;
}

#wheel{
	margin:0;
	padding:0;
	background-color: #f7f7f7;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
}

.container{
	width:500px;
	height:500px;
	background-color: #c97425;
	border-radius:50%;
	border:15px solid #df8134;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:13px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:135px;
}

.container .one{
	background-color: #ffaf38;
	left:50%;
}
.container .two{
	background-color: #ff3838;
	transform: rotate(45deg);
}
.container .three{
	background-color: #ffaf38;
	transform:rotate(90deg);
}
.container .four{
	background-color: #ff3838;
	transform: rotate(135deg);
}
.container .five{
	background-color: #ffaf38;
	transform: rotate(180deg);
}
.container .six{
	background-color: #ff3838;
	transform: rotate(225deg);
}
.container .seven{
	background-color: #ffaf38;
	transform: rotate(270deg);
}
.container .eight{
	background-color: #ff3838;
	transform: rotate(315deg);
}

.arrow{
	position: absolute;
	top:35%;
        left:350px;
	transform: translateX(-50%);
	color:#000;
}

.arrow::before{
	content:"\2192";
	font-size:150px;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:10px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:70%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}

/* roulette wheel ends */
